@model WebApplication1.Models.StudentModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Kết quả đăng ký</h2>
    <p>Cảm ơn bạn @Model.MSSV - @Model.HoTen đã đăng ký chuyên ngành @Model.ChuyenNganh</p>
    <p>Số lượng sv đã đăng ký ngành giống bạn là: @ViewBag.SameMajorCount</p>
}
